/* This is a comment in css */

/* .container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction:row;
} */

/* The body */
* {
    background-color: rgba(231, 201, 33, 0.575);
    font-size: 25px;
}
* {

    box-sizing: border-box;
    padding:25px;
}

.aboutme {
    background-color: rgba(202, 159, 65, 0.5);
}
.makemegreen {

    color: rgba(246, 220, 103, 0.746);
}

*{
    font-family: 'Roboto', sans-serif;
}
/* The navagation menu */
/*  Heading */
h1, p {color: rgb(0, 0, 0);
    font-size:46;
}

/* paragraph styles */
p{
    color:rgb(0, 0, 0);
}

